:root {
    --primary-color: #F1CDB3;
    --dark-xl: #4C4C4C;
    --dark-s: #cdcdcd;
    --dark-l: #545454;
    --dark-3xl: #292929;
}

@font-face {
    font-family: 'Georgia';
    src: url('./fonts/georgia-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('./fonts/georgia-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('./fonts/georgia-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('./fonts/arial-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('./fonts/arial-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 40px 0 40px;
}

.start_screen {
    width: 100%;
    height: 908px;
    background: url(./images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
}

.logo {
    display: inline;
    height: 100%;
}

.header__title {
    color: var(--primary-color);
    font-size: 32px;
    font-family: 'Georgia';
    line-height: 110%;
    letter-spacing: 0.06em;
    font-weight: 400;
    height: 35px;
}

.header__subtitle {
    font-size: 13px;
    font-family: 'Arial';
    color: #fff;
    letter-spacing: 0.1em;
    height: 15px;
}

.logo__link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
    text-decoration: none;
    height: 100%;
}

nav {
    display: inline-flex;
}

.nav__items {
    display: flex;
    color: var(--dark-s);
    list-style: none;
    gap: 35px;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    align-items: center;
    user-select: none;
}

.nav__items>li {
    transition: 100ms;
    border-bottom: 3.5px solid transparent;
}

.nav__items>li:not(.nav__active):hover {
    cursor: pointer;
    color: #fff;
}

.nav__items>li:active {
    border-bottom-color: var(--primary-color);
}

.nav__items>.nav__active {
    border-bottom-color: var(--primary-color);
    color: #fff;
}

.start_screen__content {
    display: inline-flex;
    margin-top: 90px;
    gap: 42px;
}

.start_screen__content__main {
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 42px;
    margin-top: 163px;
}

.start_screen__content__main>h1 {
    color: #fff;
    font-family: 'Georgia';
    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
}

.start_screen__desc {
    color: var(--dark-s);
    font-size: 15px;
    line-height: 160%;
    font-family: 'Arial';
}

.start_screen__btn {
    /* Text */
    font-family: 'Georgia';
    font-size: 17px;
    letter-spacing: 0.05em;
    border: 0;
    font-weight: 400;
    line-height: 130%;
    color: #292929;

    /* btn */
    padding: 15px 45px;
    gap: 10px;
    width: 207px;
    height: 52px;
    background-color: var(--primary-color);
    border-radius: 100px;
    transition: 150ms;
}

.start_screen__btn:hover {
    background: #fddcc4;
    cursor: pointer;
}

.about {
    width: 100%;
    height: 588px;
    display: flex;
    gap: 120px;
    max-width: 1280px;
    margin: 0 auto;
}

.about__img {
    margin: 80px 0 0 215px;
}

.about__content {
    display: inline-flex;
    flex-direction: column;
    width: 430px;
    height: 380px;
    gap: 25px;
    margin-top: 94px;
    color: var(--dark-xl);
}

.about__content>h2 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about__content {
    font-family: 'Arial';
    font-weight: 400;
    line-height: 160%;
    font-size: 15px;
}

.our_friends {
    background-color: #f6f6f6;
}

.our_friends__container {
    display: flex;
    max-width: 1280px;
    height: 877px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
    gap: 60px;
    flex-direction: column;
    align-items: center;
}

.our_friends__container>h2 {
    color: var(--dark-l);
    text-align: center;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.our_friends__slider {
    width: 1200px;
    height: 435px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our_firends__slider__btn {
    display: flex;
    align-items: center;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    background: transparent;
    transition: 150ms;
}

.our_firends__slider__btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.our_friends__slider__cards {
    display: flex;
    gap: 90px;
}

.pet_card {
    width: 270px;
    height: 435px;
    background-color: #fff;
}

.pet_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: 'Georgia';
    font-weight: 400;
}

.pet_card__name {
    color: var(--dark-l);
    font-size: 20px;
    height: 23px;
}

.pet_card>button {
    width: 187px;
    height: 52px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--dark-3xl);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    background: transparent;
    font-family: 'Georgia';
    font-weight: 400;
}

.pet_card>button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 150ms;
}

.our_friends__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 45px;
    gap: 10px;
    width: 261px;
    height: 52px;
    background: var(--primary-color);
    border-radius: 100px;
    border: 0;
    font-size: 17px;
    font-family: 'Georgia';
    font-weight: 400;
    color: var(--dark-3xl);
    letter-spacing: 0.055em;
    cursor: pointer;
}